USE [master]
GO
/****** Object:  Database [CSDL-QLNS]    Script Date: 5/15/2024 10:05:32 PM ******/
CREATE DATABASE [CSDL-QLNS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CSDL-QLNS', FILENAME = N'D:\sql\MSSQL16.MSSQLSERVER\MSSQL\DATA\CSDL-QLNS.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CSDL-QLNS_log', FILENAME = N'D:\sql\MSSQL16.MSSQLSERVER\MSSQL\DATA\CSDL-QLNS_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSDL-QLNS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSDL-QLNS]
GO
/****** Object:  Table [dbo].[BangCong]    Script Date: 5/15/2024 10:05:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangCong](
	[id_bc] [nchar](10) NOT NULL,
	[Ngay] [date] NULL,
	[Thang] [nvarchar](50) NULL,
	[Phu_cap] [float] NULL,
	[Luong_co_ban] [float] NULL,
	[So_ngay_cong] [float] NULL,
	[Thuong_phat] [float] NULL,
	[Ghi_chu] [nvarchar](255) NULL,
	[Tong_luong] [float] NULL,
 CONSTRAINT [PK_BangCong] PRIMARY KEY CLUSTERED 
(
	[id_bc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 5/15/2024 10:05:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[id_cc] [int] IDENTITY(1,1) NOT NULL,
	[Hoten] [nvarchar](255) NULL,
	[Ngay] [int] NULL,
	[Thang] [int] NULL,
	[Nam] [int] NULL,
	[Gio] [datetime] NULL,
 CONSTRAINT [PK_ChamCong] PRIMARY KEY CLUSTERED 
(
	[id_cc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChamCong_cc]    Script Date: 5/15/2024 10:05:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong_cc](
	[id_cc_cc] [int] IDENTITY(1,1) NOT NULL,
	[Hoten] [nvarchar](255) NULL,
	[Thang] [int] NULL,
	[Nam] [int] NULL,
	[Tong_ngay_cong] [float] NULL,
 CONSTRAINT [PK_ChamCong_cc] PRIMARY KEY CLUSTERED 
(
	[id_cc_cc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangNhap]    Script Date: 5/15/2024 10:05:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangNhap](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[loai_tk] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_DangNhap] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DuAn]    Script Date: 5/15/2024 10:05:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DuAn](
	[id_da] [nchar](10) NOT NULL,
	[ten_da] [nvarchar](255) NULL,
	[so_nhan_vien] [int] NULL,
	[Hoten] [nvarchar](255) NULL,
	[Tien_do(thang)] [int] NULL,
	[Hoan_thanh(thang)] [int] NULL,
	[Thuong_phat] [nvarchar](50) NULL,
	[Quy_mo] [float] NULL,
	[Mo_ta] [nvarchar](255) NULL,
 CONSTRAINT [PK_DuAn] PRIMARY KEY CLUSTERED 
(
	[id_da] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 5/15/2024 10:05:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[id_hd] [nchar](10) NOT NULL,
	[ten_hd] [nvarchar](50) NULL,
	[Hoten] [nvarchar](255) NULL,
	[chuc_vu] [nvarchar](max) NULL,
	[ngay_vao] [date] NULL,
	[vi_tri] [nvarchar](255) NULL,
 CONSTRAINT [PK_HopDong] PRIMARY KEY CLUSTERED 
(
	[id_hd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 5/15/2024 10:05:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hoten] [nvarchar](255) NOT NULL,
	[gioitinh] [nvarchar](50) NULL,
	[ngaysinh] [date] NULL,
	[diachi] [nvarchar](max) NULL,
	[Luong] [float] NULL,
	[id_pb] [nchar](10) NOT NULL,
	[id_da] [nchar](10) NOT NULL,
	[id_hd] [nchar](10) NOT NULL,
	[id_bc] [nchar](10) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[hoten] ASC,
	[id_pb] ASC,
	[id_da] ASC,
	[id_hd] ASC,
	[id_bc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 5/15/2024 10:05:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[id_pb] [nchar](10) NOT NULL,
	[ten_phong_ban] [nvarchar](max) NULL,
	[so_nhan_vien] [int] NOT NULL,
	[Ho_ten] [nvarchar](max) NULL,
	[Mo_ta] [nvarchar](255) NULL,
 CONSTRAINT [PK_PhongBan] PRIMARY KEY CLUSTERED 
(
	[id_pb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DangNhap] ADD  CONSTRAINT [DF_DangNhap_loai_tk]  DEFAULT ((1)) FOR [loai_tk]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_BangCong] FOREIGN KEY([id_bc])
REFERENCES [dbo].[BangCong] ([id_bc])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_BangCong]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_DuAn] FOREIGN KEY([id_da])
REFERENCES [dbo].[DuAn] ([id_da])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_DuAn]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_HopDong] FOREIGN KEY([id_hd])
REFERENCES [dbo].[HopDong] ([id_hd])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_HopDong]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_PhongBan] FOREIGN KEY([id_pb])
REFERENCES [dbo].[PhongBan] ([id_pb])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_PhongBan]
GO
USE [master]
GO
